body, html {
    height: 100vh;
    margin: 0;
  }
  
  .container {
    text-align: center;
    height: 100vh;
    padding: 16px;
    box-sizing: border-box;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr;
    

    grid-template-rows:;
  }
  
  .container div {
    padding: 15px;
    font-size: 32px;
    font-family: Helvetica;
    font-weight: bold;
    color: white;
    border-radius: 15px;
  }
  
  .header {
    grid-area: header;
    background-color: #FFDE22;
  }
  
  .sidebar {
    grid-area: sidebar;
    background-color: #FF7755;
  }
  
  .nav {
    grid-area: nav;
    background-color: #00DDFF;
  }
  
  .article {
    grid-area: article;
    background-color: #bccbde;
  }
  
  .article p {
    grid-area: p;
    font-size: 18px;
    font-family: sans-serif;
    color: white;
    text-align: left;
  }
  
  .footer {
    grid-area: footer;
    background-color: #393f4d;
  }

    
